circle {
    opacity: 0.3
}

path {
    fill: none;
}

text {
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.axis {
    stroke: black;
    opacity: 0.6;
}

.axis-text {
    stroke: black;
    fill: black;
    font-size: 16px;
    opacity: 1;
}

.tick-label {
    fill: black;
    stroke: black;
    font-size: 16px;
}

.guiding-line {
    stroke: black;
    opacity: 0.2;
}

.food-polygon {
    fill-opacity: 0.2;
    stroke-opacity: 0.9;
    stroke-width: 1.5;
}