path {
    fill: none;
}

text {
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.tick text {
    font-size: 10px;
    font-weight: "Normal";
}


.axis .domain, .guiding-line, .center-polygon {
    stroke: #C7B3A4;
    stroke-width: 1px;
}


.axis-text, .tick text {
    fill: #90715A;
    opacity: 1;
}

.axis-text {
    font-weight: 600;
}

.center-polygon {
    fill: white;
}

.food-polygon {
    fill-opacity: 0.2;
    stroke-opacity: 0.9;
    stroke-width: 1.5;
}

.endpoint {
    fill-opacity: 1;
}

.food-points {
    r: 3;
    opacity: 1;
}