path {
    fill: none;
}

text {
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    
}

.axis {
    stroke: #aaa;
}

.axis-text {
    opacity: 1;
}

.guiding-line {
    stroke: #aaa;
}

.center-polygon {
    fill: white;
    stroke: #555;
    stroke-width: 1;
}

.food-polygon {
    fill-opacity: 0.2;
    stroke-opacity: 0.9;
    stroke-width: 1.5;
}

.endpoint {
    fill-opacity: 1;
}

.food-points {
    r: 3;
    opacity: 1;
}