circle {
    opacity: 0.3
}

path {
    fill: none;
}

text {
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold:
}

.guiding-line {
    stroke: grey;
}

.food-line {
    stroke: red;
}